<div style="text-align:center">
 <!-- <h1>
    {{ title }}
  </h1>
  <img width="300" alt="Logo" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/1b19c664-af6f-4aa4-81ff-3a02c58f9b3e/d5madz7-cca0b217-5367-44a2-8f6b-c0ecd6249e33.png/v1/fill/w_774,h_1032,strp/the_avengers_by_ecokitty_d5madz7-pre.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTIwMCIsInBhdGgiOiJcL2ZcLzFiMTljNjY0LWFmNmYtNGFhNC04MWZmLTNhMDJjNThmOWIzZVwvZDVtYWR6Ny1jY2EwYjIxNy01MzY3LTQ0YTItOGY2Yi1jMGVjZDYyNDllMzMucG5nIiwid2lkdGgiOiI8PTkwMCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.OTW5ccWeg8GMPxzuce8e0ZvpsCvLl_aJ_tHGIGV5iLw">
  -->
</div>
<div>
  <app-heroes></app-heroes>
</div>
<div>
  <app-messages></app-messages>
</div>
<router-outlet></router-outlet>
